* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(0,0,0,0.1);
}

.container {
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 200px;
    background-image: linear-gradient(to right bottom, #080882, #0b0b95, #0e0ea9, #1111bd, #1414d2);
    border-radius: 15px 15px 0px 0px;
    -webkit-border-radius: 15px 15px 0px 0px;
    -moz-border-radius: 15px 15px 0px 0px;
    -ms-border-radius: 15px 15px 0px 0px;
    -o-border-radius: 15px 15px 0px 0px;
    position: relative;
}

.banner {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 40px;
    color: #fff;
}

.clear {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
}

.clear i {
    font-size: 30px;
    color: #fff;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
}

.clear i:hover {
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

#date {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-size: 25px;
}

.content {
    width: 100%;
    height: 550px;
    background: #fff;
    overflow: auto;
}

ul {
    width: 100%;
}

.item {
    width: 100%;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
}

.item i.check {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.item i.check:hover {
    color:#6eb200;
}

.fa-check-circle{
    color:#6eb200;
}

.item p.text {
    position: absolute;
    font-size: 20px;
    left: 50px;
    top: 7px;
}

.line-thro {
    text-decoration: line-through;
    color: #333;
}

.item i.garbage {
    position: absolute;
    font-size: 25px;
    right: 15px;
    top: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.item i.garbage:hover {
    color: #af0000;
}

.add-to-do {
    background-color: #fff;
    height: 60px;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
    position: relative;
    border-radius:0px 0px 15px 15px;
    -webkit-border-radius:0px 0px 15px 15px;
    -moz-border-radius:0px 0px 15px 15px;
    -ms-border-radius:0px 0px 15px 15px;
    -o-border-radius:0px 0px 15px 15px;
}

.add-to-do i {
    font-size: 40px;
    color: #4162f6;
    top: 7px;
    position: absolute;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.add-to-do input {
    position: absolute;
    left: 50px;
    height: 35px;
    max-width: 350px;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid #777777;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input::-moz-placeholder { /* Firefox 19+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-ms-input-placeholder { /* IE 10+ */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
.add-to-do input:-moz-placeholder { /* Firefox 18- */
    color: #4162f6;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

@media only screen and (max-width: 420px) {
    .content {
        height: 450px;
    }

    .add-to-do input {
        max-width: 250px;
    }
}

@media only screen and (max-width: 380px) {
    .content {
        height: 360px;
    }
}

@media only screen and (max-width: 320px) {
    .content {
        height: 290px;
    }

    .banner {
        font-size: 35px;
    }
}




